:root {
    --header-bg-base:#09224F;
    --header-bg-secondary:#073382;
    --body-text-1: #000000;
    --body-text-2:#8A8A8A;
    --primary-cta:#07a88d;
    --primary-cta-hover:#086152;
    --white:#ffffff;
    --black:#000000;
    --black-3:#333333;
    --card-bg-color:#f2f6fe;
    --card-border-color:#5888db;
    --tag-hover-color:#e6f0ff;
    --title-color:#3c4557;
    --sub-title-color:#707888;
    --badge-bg-color:#f1f1f8;
    --badge-color:#777d8a;
    --list-style-color:#42d782;
    --pagination-cta-color:#1456cb;
    --pagination-cta-border-color:#a6c6ff;
    --pagination-cta-hover-color:#c0d3f1;
    --pagintation-text-color:#707888;
    --secondary-cta-hover-color:#ea9394;
    --secondary-cta-color:#0f1730;
    --modal-shadow-color:#c5cbf9;
    --overlay-bg-color:rgba(0, 0, 0, 0.25);
    --loader-border-color:#f3f3f3;
    --loader-border-spinning-color:#3498db;
    --global-header-height: 5.75rem;
}